body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #93bbd8, #c4dcef 70%, #8c9a80 72%, #6b6e61 100%);
    overflow: hidden;
}

#wrapper #renderer {
    width: 100%;
    height: 100%;
}